<% include header %>

<form action="/" method="post" class="ui form">
  <div class="field">
    <label for="message">Message</label>
    <textarea name="message" id="message"></textarea>

  </div>
  <button type='submit' class="ui label labeled submit icon button">
    <i class="icon edit"></i>Envoyer
  </button>
</form>

<div class="ui comments">
  <h3 class="ui dividing header">Commentaires</h3>
  <% for (message of messages) {%>
    <div class="comments">

      <div class="metadata">
        <div class="date">
          <%= message.created_at.fromNow() %>
        </div>
      </div>

      <a class="avatar" href="/message/<%= message.id %>">
        <img src="https://randomuser.me/api/portraits/lego/7.jpg" style="width:5%; height:5%;"></img>
      </a>
      <div class="content">
        <div class="test">
          <%= message.messages%>
        </div>
      </div>
    </div>
  <% } %>
</div>
<% include footer %>
