<!DOCTYPE html>

<html>
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <body>

      <h1>Salut le monde</h1>
      <p><%= test %>  </p>
    </body>

  </head>
</html>
